In [ ]:
import os
from google.colab import drive

drive.mount('/content/drive')
path = "/content/drive/My Drive/GEARS"

os.chdir(path)

## 1. General Data

In [ ]:
# Really need these
import pandas as pd 
import numpy as np
from numpy import *

# Handy for debugging
import gc
import time
import warnings
import os

# Date stuff
from datetime import datetime
from datetime import timedelta

# Nice graphing tools
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.offline as py
import plotly.tools as tls
import plotly.graph_objs as go
import plotly.tools as tls

# Machine learning tools
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix

# Performance measures
from sklearn.metrics import mean_squared_error

In [ ]:
# Read in the NRWQ database as excel
df_nrwq = pd.read_excel('NRWQ database 12_02_19.xlsx')

# select the col that realtes to the chl
# add necessary data: date, depth and other info as well
chl_col = ['Date', 'Season', 'Station', 'Depth', 'YSI_Temp', 'YSI_Salinity', 'YSI_DO', 'YSI_pH', 'POC']
chl_col = chl_col + ['NO3/NO2', 'NH4', 'PO4', 'TotalChla']

# select the col that we want
df_chla = df_nrwq[chl_col]
df_chla.rename(columns={'NO3/NO2':'NOx'}, inplace=True)

# delete the first row of data
df_chla = df_chla.drop([0]) 

df_chla.columns

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning:

Unknown extension is not supported and will be removed

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['Date', 'Season', 'Station', 'Depth', 'YSI_Temp', 'YSI_Salinity',
       'YSI_DO', 'YSI_pH', 'POC', 'NOx', 'NH4', 'PO4', 'TotalChla'],
      dtype='object')

In [ ]:
# Fill 0 in all the data that is smaller than 0
df_chla['YSI_Temp'][df_chla.YSI_Temp < 0 ] = np.nan
df_chla['YSI_Salinity'][df_chla.YSI_Salinity < 0 ] = np.nan
df_chla['YSI_DO'][df_chla.YSI_DO < 0 ] = np.nan
df_chla['YSI_pH'][df_chla.YSI_pH < 0 ] = np.nan
df_chla['POC'][df_chla.POC < 0 ] = np.nan
df_chla['NOx'][df_chla.NOx < 0 ] = np.nan
df_chla['NH4'][df_chla.NH4 < 0 ] = np.nan

df_chla['PO4'] = pd.to_numeric(df_chla['PO4'] , errors='coerce')
df_chla['PO4'][df_chla.PO4 < 0 ] = np.nan

df_chla['TotalChla'][df_chla.TotalChla < 0 ] = np.nan

df_chla

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      Date  Season Station  ...      NH4     PO4  TotalChla
1      1994-01-24 00:00:00  Winter     0.0  ...  120.929  40.418   0.909647
2      1994-01-24 00:00:00  Winter     0.0  ...  130.962  40.250   0.907074
3      1994-01-24 00:00:00  Winter    10.0  ...  118.444  38.399   0.918636
4      1994-01-24 00:00:00  Winter    10.0  ...  129.121  38.399   1.117271
5      1994-01-24 00:00:00  Winter    20.0  ...  124.887  37.558   1.183448
...                    ...     ...     ...  ...      ...     ...        ...
12658  2019-07-09 00:00:00  Summer   140.0  ...      NaN     NaN        NaN
12659  2019-07-09 00:00:00  Summer   160.0  ...      NaN     NaN        NaN
12660  2019-07-09 00:00:00  Summer   160.0  ...      NaN     NaN        NaN
12661  2019-07-09 00:00:00  Summer   180.0  ...      NaN     NaN        NaN
12662  2019-07-09 00:00:00  Summer   180.0  ...      NaN     NaN        NaN

[12662 rows x 13 columns]

In [ ]:
# reserve data that depth = 1 or depth = 2, dessert data that has "11D" or something like that
df_chla = df_chla[ (df_chla['Depth'] == 1) | (df_chla['Depth'] == 2) ]

# deal with the Date
df_chla['Date'] = [datetime.strptime(date, '%Y-%m-%d %H:%M:%S').date() for date in df_chla['Date'].astype(str).values.tolist()]

# addin the date col
df_chla['Year'] = [datetime.strptime(date, '%Y-%m-%d').year for date in df_chla['Date'].astype(str).values.tolist()]
df_chla['Month'] = [datetime.strptime(date, '%Y-%m-%d').month for date in df_chla['Date'].astype(str).values.tolist()]
df_chla['Day'] = [datetime.strptime(date, '%Y-%m-%d').day for date in df_chla['Date'].astype(str).values.tolist()]

# record the order
order = ['Date', 'Year', 'Month', 'Day', 'Season', 'Station', 'Depth', 'YSI_Temp', 'YSI_Salinity',
         'YSI_DO', 'YSI_pH', 'POC', 'NOx', 'NH4', 'PO4', 'TotalChla']
df_chla = df_chla[order]

df_chla.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         Date  Year  Month  Day  ...     NOx      NH4     PO4  TotalChla
1  1994-01-24  1994      1   24  ...     NaN  120.929  40.418   0.909647
2  1994-01-24  1994      1   24  ...  722.95  130.962  40.250   0.907074
3  1994-01-24  1994      1   24  ...  722.43  118.444  38.399   0.918636
4  1994-01-24  1994      1   24  ...  773.65  129.121  38.399   1.117271
5  1994-01-24  1994      1   24  ...  674.90  124.887  37.558   1.183448

[5 rows x 16 columns]

In [ ]:
# dessert some of the row that has bad info in it
df_chla = df_chla[ (df_chla['Station'] != 'Union Point Neuse') & (df_chla['Station'] != 'Streets Ferry Bridge')
            & (df_chla['Station'] != 'Union Point Trent') & (df_chla['Station'] != 'Camp Seafarer')
              & (df_chla['Station'] != 'Fisher Landing') & (df_chla['Station'] != 'Neuse River at Kinston')
                & (df_chla['Station'] != 95) & (df_chla['Station'] != 96) & (df_chla['Station'] != 80)
                  & (df_chla['Station'] != 130) & (df_chla['Station'] != 10) & (df_chla['Station'] != 165) ]

df_chla['Station'].value_counts()

30.0     1195
70.0     1195
120.0    1190
20.0     1162
0.0      1160
50.0     1085
60.0     1084
100.0    1020
140.0     999
160.0     997
180.0     809
Name: Station, dtype: int64

In [ ]:
# select from Date 1999-2018
df_chla = df_chla[ (df_chla['Year'] >= 1999) & (df_chla['Year'] < 2019) ]

# build the index again
df_chla = df_chla.reset_index(drop=True)
df_chla

            Date  Year  Month  Day  ...      NOx    NH4    PO4  TotalChla
0     1999-01-05  1999      1    5  ...  1099.89  53.44  16.22   0.219479
1     1999-01-05  1999      1    5  ...  1108.73  58.17  20.92   0.798709
2     1999-01-05  1999      1    5  ...  1120.90  56.45  22.18   1.210042
3     1999-01-05  1999      1    5  ...  1114.91  52.17  19.00   1.002726
4     1999-01-05  1999      1    5  ...   930.14  82.34  19.32   0.739095
...          ...   ...    ...  ...  ...      ...    ...    ...        ...
9889  2018-12-12  2018     12   12  ...   199.00  32.40  11.80   6.779215
9890  2018-12-12  2018     12   12  ...   220.00  36.60  14.00   8.684863
9891  2018-12-12  2018     12   12  ...    70.60  45.30   5.87   9.031465
9892  2018-12-12  2018     12   12  ...    84.10  42.30   7.46   7.145236
9893  2018-12-12  2018     12   12  ...    80.30  45.30   8.74   6.760938

[9894 rows x 16 columns]

In [ ]:
# Fill in missing data
def interpolation(df_new, column_name):
  # list the stations with missing measurement
  df_blank = df_new[df_new[column_name].isnull()]
  df_fill = df_new.dropna(axis=0)
  station_List = df_blank['Station'].unique()
  # print(df_blank)

  for station in station_List:
    # Select the missing part of the corresponding station and the part used for filling
    df_station_blank = df_blank[(df_blank['Station'] == station)]
    df_station_fill = df_fill[(df_fill['Station'] == station)]

    month_List = df_station_blank['Month'].unique()
    # print(df_station_blank)

    for month in month_List:
      # Select a month from the corresponding site
      df_month_blank = df_station_blank[(df_station_blank['Month'] == month)]
      df_month_fill = df_station_fill[(df_station_fill['Month'] == month)]

      depth_List = df_month_blank['Depth'].unique()
      # print(df_month_blank)

      for depth in depth_List:
        # Select the corresponding depth to fill
        df_depth_blank = df_month_blank[(df_month_blank['Depth'] == depth)]
        df_depth_fill = df_month_fill[(df_month_fill['Depth'] == depth)]

        # Calculate the average to fill
        df_depth_blank[column_name] = np.mean(df_depth_fill[column_name])

        # Add to the total data
        # print(df_depth_blank)
        df_fill = df_fill.append(df_depth_blank)

  return df_fill

In [ ]:
# dealing with data in catagory
df_ysi_temp = df_chla.groupby(['Date', 'Year', 'Month', 'Day', 'Season', 'Station', 'Depth'], as_index=False)['YSI_Temp'].mean()
df_ysi_salinity = df_chla.groupby(['Date', 'Year', 'Month', 'Day', 'Season', 'Station', 'Depth'], as_index=False)['YSI_Salinity'].mean()

df_YSI_Temp = interpolation(df_ysi_temp, 'YSI_Temp')
df_YSI_Salinity = interpolation(df_ysi_salinity, 'YSI_Salinity')

# merge the data
df_chla_merge = pd.merge(df_YSI_Temp, df_YSI_Salinity, on=['Date', 'Year', 'Month', 'Day', 'Season', 'Station', 'Depth'], how='inner')

# dealing with data in for loop
columns = ['YSI_DO', 'YSI_pH', 'POC', 'NOx', 'NH4', 'PO4', 'TotalChla']
for col in columns:
  df_temp = df_chla.groupby(['Date', 'Year', 'Month', 'Day', 'Season', 'Station', 'Depth'], as_index=False)[col].mean()
  df_inter_temp = interpolation(df_temp, col)
  df_chla_merge = pd.merge(df_chla_merge, df_inter_temp, on=['Date', 'Year', 'Month', 'Day', 'Season', 'Station', 'Depth'], how='inner')

# sort the data by date
df_chla_merge.sort_values(by=['Year', 'Month', 'Day', 'Station'], axis=0, ascending=True, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(df_chla_merge.isnull().any())

df_chla_merge

Date            False
Year            False
Month           False
Day             False
Season          False
Station         False
Depth           False
YSI_Temp        False
YSI_Salinity    False
YSI_DO          False
YSI_pH          False
POC             False
NOx             False
NH4             False
PO4             False
TotalChla       False
dtype: bool

            Date  Year  Month  Day  ...      NOx    NH4    PO4  TotalChla
0     1999-01-05  1999      1    5  ...  1099.89  53.44  16.22   0.219479
1     1999-01-05  1999      1    5  ...  1108.73  58.17  20.92   0.798709
2     1999-01-05  1999      1    5  ...  1114.91  52.17  19.00   1.002726
3     1999-01-05  1999      1    5  ...  1120.90  56.45  22.18   1.210042
4     1999-01-05  1999      1    5  ...   930.14  82.34  19.32   0.739095
...          ...   ...    ...  ...  ...      ...    ...    ...        ...
9837  2018-12-12  2018     12   12  ...   199.00  32.40  11.80   6.779215
9838  2018-12-12  2018     12   12  ...   220.00  36.60  14.00   8.684863
9839  2018-12-12  2018     12   12  ...    70.60  45.30   5.87   9.031465
9840  2018-12-12  2018     12   12  ...    84.10  42.30   7.46   7.145236
9841  2018-12-12  2018     12   12  ...    80.30  45.30   8.74   6.760938

[9894 rows x 16 columns]

In [ ]:
# add feature: Distance
dict_station = {'0.0': 0.0, '10.0': 4.97329372918684, '20.0': 8.67261612026574, '30.0': 14.7019517875022, 
         '40.0': 15.2516905169524, '50.0': 19.3211170838175, '60.0': 26.2875295399737, '70.0': 27.7075206320101, 
         '90.0': 32.0897461330841, '100.0': 36.5634605596958, '110.0': 40.0564570114033, '120.0': 42.8753348278588, '130.0': 47.2185324224328,
         '140.0': 50.3781647129367, '150.0': 54.711049812565, '160.0': 58.9920016079245, '170.0': 65.2622393518111, '180.0': 72.9281362390851}

df_chla_merge['Distance'] = df_chla_merge['Station'].apply(lambda x: dict_station[str(x)])
df_chla_merge['Distance'] = df_chla_merge['Distance'].astype(float32)

# Discard the redundant time column
df_chla_merge = df_chla_merge.drop(['Year', 'Month', 'Day'], axis=1)

# save in csv
df_chla_merge.to_csv("General_Chla_data.csv", index=False)

In [ ]:
df_chla_merge

            Date  Season  Station  Depth  ...    NH4    PO4  TotalChla   Distance
0     1999-01-05  Winter      0.0    1.0  ...  53.44  16.22   0.219479   0.000000
1     1999-01-05  Winter      0.0    2.0  ...  58.17  20.92   0.798709   0.000000
2     1999-01-05  Winter     20.0    1.0  ...  52.17  19.00   1.002726   8.672616
3     1999-01-05  Winter     20.0    2.0  ...  56.45  22.18   1.210042   8.672616
4     1999-01-05  Winter     30.0    1.0  ...  82.34  19.32   0.739095  14.701952
...          ...     ...      ...    ...  ...    ...    ...        ...        ...
9837  2018-12-12  Winter    140.0    2.0  ...  32.40  11.80   6.779215  50.378166
9838  2018-12-12  Winter    160.0    1.0  ...  36.60  14.00   8.684863  58.992001
9839  2018-12-12  Winter    160.0    2.0  ...  45.30   5.87   9.031465  58.992001
9840  2018-12-12  Winter    180.0    1.0  ...  42.30   7.46   7.145236  72.928139
9841  2018-12-12  Winter    180.0    2.0  ...  45.30   8.74   6.760938  72.928139

[9894 rows x 14 columns]

## 2. Specific Data

In [ ]:
# reserve row with depth = 1
df_chla = df_chla_merge[ df_chla_merge['Depth'] == 1 ]

# add the date col
df_chla['Year'] = [datetime.strptime(date, '%Y-%m-%d').year for date in df_chla['Date'].astype(str).values.tolist()]
df_chla['Month'] = [datetime.strptime(date, '%Y-%m-%d').month for date in df_chla['Date'].astype(str).values.tolist()]
df_chla['Day'] = [datetime.strptime(date, '%Y-%m-%d').day for date in df_chla['Date'].astype(str).values.tolist()]

# sort and dessert the depth
order = ['Date', 'Year', 'Month', 'Day', 'Season', 'Station', 'YSI_Temp', 'YSI_Salinity',
         'YSI_DO', 'YSI_pH', 'POC', 'NOx', 'NH4', 'PO4', 'TotalChla', 'Distance']
df_chla = df_chla[order]

df_chla

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Date  Year  Month  Day  ...    NH4    PO4  TotalChla   Distance
0     1999-01-05  1999      1    5  ...  53.44  16.22   0.219479   0.000000
2     1999-01-05  1999      1    5  ...  52.17  19.00   1.002726   8.672616
4     1999-01-05  1999      1    5  ...  82.34  19.32   0.739095  14.701952
6     1999-01-05  1999      1    5  ...  55.28  17.67   3.467167  19.321117
8     1999-01-05  1999      1    5  ...  51.76  16.24   6.831088  26.287529
...          ...   ...    ...  ...  ...    ...    ...        ...        ...
9832  2018-12-12  2018     12   12  ...  61.60  23.10   3.391824  36.563461
9834  2018-12-12  2018     12   12  ...  48.60  22.50   4.813551  42.875336
9836  2018-12-12  2018     12   12  ...  42.30  17.90   7.466879  50.378166
9838  2018-12-12  2018     12   12  ...  36.60  14.00   8.684863  58.992001
9840  2018-12-12  2018     12   12  ...  42.30   7.46   7.145236  72.928139

[4951 rows x 16 columns]

In [ ]:
import dateutil
from datetime import datetime

def select_month_data(df_chla, column_name, type):
  # Define variables to sort through data
  df_group = df_chla.groupby(['Date', 'Year', 'Month', 'Day', 'Season', 'Station'], as_index=False)[column_name].mean()
  df_new = pd.DataFrame(columns=['Date', 'Year', 'Month', 'Day', 'Season', 'Station', column_name])
  station_List = df_group['Station'].unique()

  for station in station_List:
    df_station = df_group[(df_group['Station'] == station)]
    # print(station, ": ", end="")

    # Set loop variable
    start = datetime.strptime('1999-01', '%Y-%m')
    end = datetime.strptime('2019-01', '%Y-%m')
    while start < end:
      df_temp = df_station[(df_station['Year'] == start.year) & (df_station['Month'] == start.month)]
      # Get all the measured dates in the month
      day_array = df_temp['Day'].unique()
      if day_array.size == 0:
        # 9-11: Fall, 12-2: Winter, 3-5: Spring, 6-8: Summer
        season = None
        if start.month in range(6, 9):
          season = 'Summer'
        elif start.month in range(9, 12):
          season = 'Fall'
        elif start.month in range(1, 3) or start.month == 12:
          season = 'Winter'
        elif start.month in range(3, 6):
          season = 'Spring'

        df_new = df_new.append(pd.DataFrame([[start.date(), start.year, start.month, start.day, season, station, np.nan]],
                    columns=['Date', 'Year', 'Month', 'Day', 'Season', 'Station', column_name]))
        # print(start.date(), " ", end="" )
        start += dateutil.relativedelta.relativedelta(months=1)
        continue

      # Add to the new df
      if type == 'min':
        df_new = df_new.append(df_temp[df_temp['Day'] == day_array.min()])
      elif type == 'max':
        df_new = df_new.append(df_temp[df_temp['Day'] == day_array.max()])

      start += dateutil.relativedelta.relativedelta(months=1)

  return df_new

In [ ]:
def fill_monthly_data(df_new, column_name):
  """
  For each site, if you miss a whole month's worth of data,
  Use the average of previous and subsequent data for the month
  """
  # Select the missing part of the corresponding station and the part used for filling
  df_blank = df_new[df_new[column_name].isnull()]
  df_fill = df_new.dropna(axis=0)
  station_List = df_blank['Station'].unique()

  for station in station_List:
    # select the specific station
    df_station_blank = df_blank[(df_blank['Station'] == station)]
    df_station_fill = df_fill[(df_fill['Station'] == station)]

    month_List = df_station_blank['Month'].unique()
    for month in month_List:
      # Select a month from the corresponding station
      df_blank_month = df_station_blank[(df_station_blank['Month'] == month)]
      df_fill_month = df_station_fill[(df_station_fill['Month'] == month)]

      # Calculate the average to fill
      df_blank_month[column_name] = np.mean(df_fill_month[column_name])

      # Add to the total data
      # print(df_blank_month)
      df_fill = df_fill.append(df_blank_month)

  return df_fill

In [ ]:
# select one day as the prediction
df_YSI_Temp = select_month_data(df_chla, 'YSI_Temp', 'min')

# finished interval
df_chla_month = fill_monthly_data(df_YSI_Temp, 'YSI_Temp')

# Fill in each feature
columns = ['YSI_Salinity', 'YSI_DO', 'YSI_pH', 'POC', 'NOx', 'NH4', 'PO4', 'TotalChla']
for col in columns:
  df_temp = select_month_data(df_chla, col, 'min')  # 补充行
  df_temp_filled = fill_monthly_data(df_temp, col)  # 填充值
  df_chla_month = pd.merge(df_chla_month, df_temp_filled, on=['Date', 'Year', 'Month', 'Day', 'Season', 'Station'], how='inner')

# sort
df_chla_month.sort_values(by=['Year', 'Month', 'Station'], axis=0, ascending=True, inplace=True)

df_chla_month

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Date  Year Month Day  ...      NOx    NH4    PO4  TotalChla
0     1999-01-05  1999     1   5  ...  1099.89  53.44  16.22   0.219479
235   1999-01-05  1999     1   5  ...  1114.91  52.17  19.00   1.002726
470   1999-01-05  1999     1   5  ...   930.14  82.34  19.32   0.739095
710   1999-01-05  1999     1   5  ...   848.75  55.28  17.67   3.467167
950   1999-01-05  1999     1   5  ...   591.49  51.76  16.24   6.831088
...          ...   ...   ...  ..  ...      ...    ...    ...        ...
1669  2018-12-12  2018    12  12  ...   391.00  61.60  23.10   3.391824
1909  2018-12-12  2018    12  12  ...   387.00  48.60  22.50   4.813551
2149  2018-12-12  2018    12  12  ...   371.00  42.30  17.90   7.466879
2389  2018-12-12  2018    12  12  ...   220.00  36.60  14.00   8.684863
2608  2018-12-12  2018    12  12  ...    84.10  42.30   7.46   7.145236

[2640 rows x 15 columns]

In [ ]:
print(df_chla_month.isnull().any())

Date            False
Year            False
Month           False
Day             False
Season          False
Station         False
YSI_Temp        False
YSI_Salinity    False
YSI_DO          False
YSI_pH          False
POC             False
NOx             False
NH4             False
PO4             False
TotalChla       False
dtype: bool

In [ ]:
# Adds a feature column of Distance
dict_station = {'0.0': 0.0, '10.0': 4.97329372918684, '20.0': 8.67261612026574, '30.0': 14.7019517875022, 
         '40.0': 15.2516905169524, '50.0': 19.3211170838175, '60.0': 26.2875295399737, '70.0': 27.7075206320101, 
         '90.0': 32.0897461330841, '100.0': 36.5634605596958, '110.0': 40.0564570114033, '120.0': 42.8753348278588, '130.0': 47.2185324224328,
         '140.0': 50.3781647129367, '150.0': 54.711049812565, '160.0': 58.9920016079245, '170.0': 65.2622393518111, '180.0': 72.9281362390851}

df_chla_month['Distance'] = df_chla_month['Station'].apply(lambda x: dict_station[str(x)])
df_chla_month['Distance'] = df_chla_month['Distance'].astype(float32)

# dessert the date col which has duplicate
df_chla_month = df_chla_month.drop(['Year', 'Month', 'Day'], axis=1)

# save as csv
df_chla_month.to_csv("Monthly_Chla_data.csv", index=False)